<footer>
  <div class="container">
    <div class="row flex-items-xs-center text-xs-center">
      <div class="col-md-8 col-xs">
        <small>Based on the website designed by <a href="https://github.com/cgcostume/cgcostume.github.io">Daniel Limberger</a>. Last updated on <a href="https://github.com/rarora7777/rarora7777.github.io/commits/master">{{ site.time | date: "%Y-%m-%d" }}</a>.</small>
      </div>
    </div>
  </div>
</footer>

<div id="blueimp-gallery" class="blueimp-gallery js-only">
  <div class="slides">#</div>
  <h3 class="title">#</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
