<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="{{ site.encoding }}">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="robots" content="index, follow">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.google_font_sans_serif }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/blueimp-gallery/2.15.0/css/blueimp-gallery.min.css">

  <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
  
  <script src="https://kit.fontawesome.com/a1e8b965b4.js" crossorigin="anonymous"></script>



  <noscript><style>.js-only { display: none; }</style></noscript>

</head>
