<div class="section-heading">
  <p class="section-eyebrow">Personal</p>
  <h2>{{ site.data.interests.heading.[page.lang] | escape }}</h2>
  <p class="section-intro">{{ site.data.interests.intro.[page.lang] }}</p>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="personal-copy">
      {% for item in site.data.interests.highlights.[page.lang] %}
      <p>{{ item }}</p>
      {% endfor %}
    </div>
  </div>
</div>

<div class="artwork-block">
  {% assign featured_artwork = site.data.artwork.sections[0] %}
  <div class="artwork-snippet">
    <div class="artwork-snippet-copy">
      <p class="artwork-snippet-eyebrow">Featured Artwork</p>
    </div>
    {% include artwork_carousel.html section=featured_artwork limit=8 instance_suffix="home" compact=true %}
    <p class="artwork-snippet-actions">
      <a class="btn btn-primary" href="{{ site.baseurl }}{{ site.data.interests.artwork.gallery_href }}">{{ site.data.interests.artwork.gallery_label.[page.lang] }}</a>
    </p>
  </div>
</div>
