<div class="section-heading">
  <h2>{{ site.data.publications.heading.[page.lang] | escape }}</h2>
</div>

{% assign publications = site.data.publications.publications | sort:"date" | reverse %}
{% assign theses = site.data.theses.theses | sort:"date" | reverse %}

<div class="publication-section">
  <h3 class="publication-subheading">{{ site.data.publications.subsections["peer_reviewed"][page.lang] }}</h3>
  {% for p in publications %}
    {% if p.category == "peer_reviewed" %}
      {% include publication_row.html item=p item_type="publication" %}
    {% endif %}
  {% endfor %}
</div>

<div class="publication-section">
  <h3 class="publication-subheading">{{ site.data.publications.subsections["preprint_book"][page.lang] }}</h3>
  {% for p in publications %}
    {% if p.category == "preprint" or p.category == "book_chapter" or p.category == "poster" %}
      {% include publication_row.html item=p item_type="publication" %}
    {% endif %}
  {% endfor %}
</div>

<div class="publication-section">
  <h3 class="publication-subheading">{{ site.data.publications.subsections["theses"][page.lang] }}</h3>
  {% for p in theses %}
    {% include publication_row.html item=p item_type="thesis" %}
  {% endfor %}
</div>
