---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include navbar.html %}

<section id="header" class="container">
{% include header.html %}
</section>

<section id="publications" class="container">
{% include publications.html %}
</section>

<section id="theses" class="container">
{% include theses.html %}
</section>

<section id="interests" class="container">
{% include interests.html %}
</section>

<section id="contact" class="container">
{% include contact.html %}
</section>

<section id="footer">
{% include footer.html %}
</section>

{% include scripts.html %}

</body>
</html>
